[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.hutoma.ai/simple"
verify_ssl = false
name = "hu_pypi"

[packages]
fluent-logger = {version="*", index="pypi"}
python-json-logger = {version="*", index="pypi"}
spacy = {version="==2.0.18", index="pypi"}
numpy = {version="*", index="pypi"}
nltk = {version="*", index="pypi"}
aiohttp = {version="*", index="pypi"}
pyyaml = {version="*", index="pypi"}
marisa-trie = {version="*", index="pypi"}
scipy = {version="*", index="pypi"}
sklearn = {version="*", index="pypi"}
# internal libraries
hu_entity = {editable = true, path = "."}

[dev-packages]
colorama = {version="*", index="pypi"}
pytest = {version="*", index="pypi"}
pytest-aiohttp = {version="*", index="pypi"}
pytest-cov = {version="*", index="pypi"}
pytest-timeout = {version="*", index="pypi"}
flake8 = {version="*", index="pypi"}
yapf = {version="*", index="pypi"}
hu_build = {version="*", index="hu_pypi"}

[requires]
python_version = "3.6"
